# Project exclude paths
/target/
/midigateway/target/
/launcher/target/
/gui/target/
/core/target/
/.idea/
/core/dependency-reduced-pom.xml
/gui/dependency-reduced-pom.xml
/midigateway/dependency-reduced-pom.xml
