# Project exclude paths
/target/
/midigateway/target/
/launcher/target/
/gui/target/
/core/target/
/.idea/
/core/dependency-reduced-pom.xml
/gui/dependency-reduced-pom.xml
/midigateway/dependency-reduced-pom.xml
/.idea/sonarlint/issuestore/
/phrygian.mid
/midigateway/src/main/resources/tmp.mid
/ccc.mid
/perc.mid
/Insomnia.mid
/drumteszt.mid
/measure_1.mid
/kukk.mid
/poki.mid
/ponty.mid
/pon.mid
